*{
    box-sizing: border-box;
    text-decoration: none;
}

:root{
    --bg-primary-slate-800:rgb(30 41 59);
    --bg-secondary-slate-700:rgb(51 65 85);
    --accent-orange:rgb(251 146 60);
    --nav-text-color:white;
}


body{
    height: 200vh;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

.header{
    background-color:var(--bg-primary-slate-800);
    color: var(--nav-text-color);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar{
    width: 75%;
    position: relative;
    z-index: 900;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    background-color: inherit;
}


.navbar-panel{
    position: relative;
    z-index: 800;
    background-color: inherit;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}


.navbar-panel .logo{
    color: inherit;
    padding: 1rem;
    display: block;
    width: fit-content;
}

.navbar-links .navbar-list{
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li{
    list-style: none;
 }


.navbar-links li a{
    color: inherit;
    padding: 1rem 2rem;
    display: block;
 }


.navbar-links li a:hover{
    color: var(--accent-orange);
}


.navbar-panel .toggle-btn{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 18px;
}


.navbar-panel .toggle-btn .bar{
    height: 2px;
    width: 100%;
    background-color: var(--nav-text-color);
    border-radius: 10px;
}

.main{
    position: relative;
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    margin-top: 4rem;
}



@media screen and (max-width:480px) {

    .navbar{
        width:100%;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .navbar-panel .toggle-btn{
        display: flex;
    }

    .navbar-links .navbar-list{
        transform: translateY(-100%);
        position: absolute;
        background-color: var(--bg-secondary-slate-700);
        width: 100%;
        flex-direction: column;
        transition: transform 0.3s ease-in-out;
        z-index: 500;
    }

    .navbar-links li{
        text-align: center;
    }

    .navbar-links li a{
        padding: 1rem 1rem;
        font-size: 1rem;
    }

    .navbar-links .navbar-list.dropdown{
       transform: translateX(0);
    }

   

}


